<div class="border">
    <button mat-icon-button>
        <mat-icon>notifications_paused</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</div>
