.border {
    border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent
  }
  button{
      margin: 14px;
      border:none;
      background: #fff;
  }