<div class="dashboard-container">
    <mat-toolbar>
       
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();" style="color: grey;flex-direction: column; ">menu</mat-icon>
        </button>


        <div class="header-container">
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" width="45">
        </div>
        <span class="fundoo">Fundoo</span>
        <div class="Search">
            <mat-form-field appearance="outline" [style.width.px]="600">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="row" fxFlex.xs="95">
            <mat-icon class="three-icons1">refresh</mat-icon>
            <mat-icon class="three-icons2">view_stream</mat-icon>
            <mat-icon matTooltip="Settings" class="three-icons3">settings</mat-icon>
            <button mat-icon-button class="three-icons4">
                <mat-icon>account_circle</mat-icon>
            </button>
           
        </div>
    </mat-toolbar>
    <mat-sidenav-container style=" height: 88vh;background: #fff;">
        
        <mat-sidenav #sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened style="width: 240px;background-color: transparent;" mode="side" [opened]="true">
            <div class="menu-container">
                <mat-nav-list>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">lightbulb_outline</mat-icon>
                            Notes
                        </button>
                    </div>
                    <div>
                        <div mat-button id="sidenav-button">
                            <button mat-button id="sidenav-button">
                                <mat-icon id="sidenav-icon">notifications_none</mat-icon>
                                Reminder
                            </button>
                        </div>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">archive</mat-icon>
                            Archive
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">delete</mat-icon>
                            Trash
                        </button>
                    </div>
                    <div >
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">edit</mat-icon>
                            Edit Lable
                        </button>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content [ngStyle]="{'margin-left.px':contentMargin}">
            <router-outlet>   

            </router-outlet>
          </mat-sidenav-content>
    </mat-sidenav-container>

</div>