<div class="forgetPassword-container">
    <h1>
        <span class="k1">F</span>
        <span class="k2">u</span>
        <span class="k3">n</span>
        <span class="k4">d</span>
        <span class="k5">o</span>
        <span class="k6">o</span>
    </h1>
    <h2>Find your email</h2>
    <h3>Enter your phone number or recovery email</h3>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
    <div class="enterEmail-container">
        <mat-form-field appearance="outline">
            <mat-label>Email or Phone number</mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-error>Please enter email or phone number</mat-error>
        </mat-form-field>

        <div class="nextButton">
            <div routerLink='/reset-Password'>
                <button mat-raised-button>Next</button>
            </div>
        </div>
    </div>
    </form>
</div>
