
  .getAllNotes{
    width: 23%;
    height: 45%;
    background-color:#fff;
    border: 0.5px solid #ffffff;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
    justify-content: space-between;
}
.displayNotes{
    display: grid;
    grid-row-gap: 16px;
    padding-top: 100px;
    margin-top: 50%;
    
}
.heading{
    opacity: 0.8;
    padding: 10px;
}
.paragraph{
    padding: 10px;
}
.pushPin{
    opacity: 0.6;
    margin-top: -21%;
   float: right;
   cursor: pointer;
   padding-right: 15px;
}


.icons{
    opacity: 0.8;
}