<div class = "login-container">
    <h1>
        <span class="k1">F</span>
        <span class="k2">u</span>
        <span class="k3">n</span>
        <span class="k4">d</span>
        <span class="k5">o</span>
        <span class="k6">o</span>
    </h1>
  
    <h2>Sign in</h2>
    <form>
    <div class ="input-container">
      <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email">
      </mat-form-field>
  
      <div class = "forgetEmail">
        <button class="button">Forgot Email?</button>
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password">
       </mat-form-field>
    </div>

    <div class = "text">
      <p>Not your computer? Use Guest mode to sign in privately.</p>
    </div>

    <div class="text2">
      <button class="button">Learn More</button>
    </div>
  
    <div class="createAccount">
      <button class="button">Create Account</button>
    </div>
  
    <div class = "text3">
      <button mat-raised-button >Next</button>
    </div>
  </form>
  </div>
