<div class="Registration_container">

    <div class="fundoonote-container">
      <div class="left_container">
          <h1>
            <span class="k1">F</span>
            <span class="k2">u</span>
            <span class="k3">n</span>
            <span class="k4">d</span>
            <span class="k5">o</span>
            <span class="k6">o</span>
          </h1>
          <h2>Create Your Fundoo Account</h2>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="name-container">
            
            <mat-form-field appearance="outline" class="name_input">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="firstName">
              <mat-error>Enter first name</mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="name_input">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName">
              <mat-error>Enter last name</mat-error>
            </mat-form-field>
          </div>
  
          <div class="email-container">
            <mat-form-field class="email_input" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" >
              <mat-error>Enter email</mat-error>
            </mat-form-field>
  
          </div>
          <span class="email-k1">
            <p>You can use letters,numbers & periods</p>
          </span>
  
          <div class="password-container">
  
            <mat-form-field appearance="outline" class="name_input">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password">
              <mat-error>Enter password</mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="name_input">
              <mat-label>Confirm</mat-label>
              <input matInput placeholder="Confirm" formControlName="confirmPassword" >
              <mat-error>Confirm the password</mat-error>
            </mat-form-field>
          </div>
          <div>
            <span class="email_p1">
              <p>Use 8 or more characters with a mix of letters, numbers & symbols</p>
            </span>
            <section class="example-section">
              <mat-checkbox class="example-margin">Show Password</mat-checkbox>              
            </section>
          </div>
         
  
          <div class="Left-side">
            <span class="email_p2">
              <div routerLink='/login'>
               <p>Sign in instead</p>
              </div> 
            </span>
            <button mat-raised-button color="primary">Next</button>
          </div>
        </form>
      </div>
      <div class="right_contianer">
        <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" width="250">
        <h3>One account. All of Google<br /> working for you.</h3>
  
      </div>
  
    </div> 
      
</div>
