form{
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
  }
  
  form input{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  form textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  .border {
    border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent
  }
  button{
      margin: 14px;
      border:none;
      background: #fff;
  }
  .input {
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 0px solid;
    min-height: 10px;
    outline: none;
  }
  .matcard{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
    border: 5px solid transparent;
    height: 40px;
    width: 600px;
    top: 100px;
    display: flex;
    align-items: center; 
    margin-left: 34%;
    margin: 32px auto 50px auto;
    margin-top: 2em;
  }
  
  .close{
    
    margin-left: 100px;
  }
  