<div class="resetPassword-container">
    <h1>
        <span class="k1">F</span>
        <span class="k2">u</span>
        <span class="k3">n</span>
        <span class="k4">d</span>
        <span class="k5">o</span>
        <span class="k6">o</span>
    </h1>

    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="enterPassword-container">
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="password" formControlName="password">
            <mat-error>Enter Password</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input matInput placeholder="confirm password" formControlName="confirmPassword">
            <mat-error>Confirm your password</mat-error>
        </mat-form-field>
        
        <div>
            <div class="nextButton">           
                <button mat-raised-button>Next</button>
            </div>
        </div>
    </div>
    </form>
</div>
