.resetPassword-container
{
  text-align : center;
  padding: 36px;
  width: auto;
  margin-top: 5%;
  margin-left: 34%;
  margin-right: 34%;
  padding-bottom: 7%;
  border: 1px solid lightgrey; 
  border-radius: 2%;
}

.enterPassword-container 
{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  width: auto;
}

div.txt
{
  margin-top: 5%;
  text-align: left;
}

h1
{
  text-align: center;
  font-size: xx-large;
  padding: 15px;
}
.k1
{
  color: blue;
}
.k2
{
  color: red;
}
.k3
{
  color: yellow;
}
.k4
{
  color: green;
}
.k5
{
  color: blue;
}
.k6
{
  color: yellow;
}
body {font-family: Arial, Helvetica, sans-serif;}

.button
{
  padding: 16px;
}
h2
{
  text-align:center ;
  font-size: x-large;
}

button 
{
  border: none;
  outline: none;
  color: #fff;
  background-color: #1a73e8;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  float: right;
}

button:hover 
{
  opacity: 0.8;
  color :#1E90FF
}

.nextButton
{
  margin-top: 13%;
}

.submit:hover 
{
  background: blue;
}